In [3]:
#Task:  1:1

print("welcome to python programming")

welcome to python programming

In [4]:
#Task:  1:2

list=[x for x in range(2000,3200) if x % 7 == 0 and x % 5 != 0]
print(list)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [5]:
#Task:  1:3
#Reverse the string

first_name=input("enter the first name")
last_name=input("enter the last name")
print(last_name +" " +first_name)

enter the first namevinaya
enter the last namesankar
sankar vinaya

In [6]:
#Task:  1:4
#volumne of sphere

r=12
pi=3.14
v=4/3*pi *r*3
print ("the volumne of spher is",v)

the volumne of spher is 150.71999999999997

In [7]:
#Task:  2:1
#Reverse the string
x=input("enter the string")
x[::-1]

enter the stringvinaya

'ayaniv'

In [8]:
#Task:  2:2
#print pattern using 2 for loop

n=int(input("enter the no of rows:"))
for i in range(n):
    print("*" *(i+1))
for i in range(n-1):
        print("*" *(n-i-1))

enter the no of rows:5
*
**
***
****
*****
****
***
**
*

In [1]:
#Task:  2:3

l=str(input("enter the numbers:"))
li=l.split(",")
li=list(li)
print("list:",li)

enter the numbers:10,20,30,40,50
list: ['10', '20', '30', '40', '50']

In [1]:
#Task:  2:4
#ESCAPE CHARACHTERS

str="WE THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constituion India into a SOVEREIGN,!\n\t\tSOCIALIST,SECULAR,DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens"
print (str)

WE THE PEOPLE OF INDIA,
	having solemnly resolved to constituion India into a SOVEREIGN,!
		SOCIALIST,SECULAR,DEMOCRATIC REPUBLIC
		 and to secure to all its citizens